<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    
  </head>
  <body>
    
    <nav class="navbar navbar-dark bg-inverse navbar-full" id="nav-main">
        <a class="navbar-brand" href="#">Bala</a>
        
        <div class="pull-xs-right">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="fa fa-linkedin nav-link" href="https://www.linkedin.com/in/bala-naga-sireesha-nekkanti/"><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" active>
                    <a class="fa fa-stack-overflow nav-link" href="https://stackoverflow.com/users/8514142/sireesha"></a>
                </li>
                <li class="nav-item" active>
                    <a class="fa fa-github nav-link" href="https://github.com/nbnsireesha"></a>
                </li>
            </ul>
            
        </div>
    </nav>



    <section id="about">
        <div class="section-content">
            <div class="container">
                <div class="col-md-6">
                    <div class="about-text">
                        <h3>About me</h3>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima culpa nostrum voluptates praesentium quia, quae, dolor aperiam possimus architecto, tempore unde! Quasi fugit voluptate, maiores adipisci commodi nemo rem cumque.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eum mollitia sit dolorem autem qui possimus ex voluptate, voluptatibus iste unde numquam illum, molestiae reprehenderit, eligendi. Illum quod esse voluptatibus.</p>
                        
                        <h5>Follow me on the web</h5>
                        <a href="www.linkedin.com/in/bala-naga-sireesha-nekkanti" class="btn btn-sm btn-secondary-outline">LinkedIn</a>
                        <a href="https://github.com/nbnsireesha" class="btn btn-sm btn-secondary-outline">GitHub</a>
                        <a href="https://stackoverflow.com/users/8514142/sireesha" class="btn btn-sm btn-secondary-outline">Stack Overflow</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="my-pic">
                        <img src="../public/images/profile.jpg" class="profile_img">   
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="section-content">
            <h3 class="brand">Contact</h3>
            <div class="container-fluid wrapper">
                <div class="col-md-6 company-info">
                    <h3>Bala Naga Sireesha Nekkanti</h3>
                    <ul>
                      <li><i class="fa fa-road"></i>11104 lema Dr 5678</li>
                      <li><i class="fa fa-phone"></i> (816) 888-9999</li>
                      <li><i class="fa fa-envelope"></i> bala@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md-6 form-info">
                    <form action="/send" method="post">
                      <p>
                        <label>Name</label>
                        <input type="text" name="name">
                      </p>
                      <p>
                        <label>Company</label>
                        <input type="text" name="company">
                      </p>
                      <p>
                        <label>Email Address</label>
                        <input type="email" name="email">
                      </p>
                      <p>
                        <label>Phone Number</label>
                        <input type="text" name="phone">
                      </p>
                      <p class="full">
                        <label>Message</label>
                        <textarea name="message" rows="5"></textarea>
                      </p>
                      <p class="full">
                        <button>Submit</button>
                      </p>
                    </form>
                    
                </div>
                
                
            </div>
            
        </div>
        
    </section>



    
    <section id="what-we-do">
         <div class="section-content">
             <div class="container">
                 <h2>Projects</h2>
                 <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui accusantium commodi non quod mollitia animi, totam quia labore ex est ut delectus consectetur explicabo eveniet maiores, cumque aut repudiandae. Natus!</p>
             
                 <div class="row">
                     <div class="col-sm-12">
                         <div class="card-group">
                             <div class="card">
                                 <div class="card-block">
                                     <h4 class="card-title">Hangman Game</h4>
                                     <h6 class="card-subtitle"></h6>
                                 </div>
                                 <img src="../public/images/hangman.png" class = "img-Pro" alt="a hangman">
                                 <div class="card-block">
                                     <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                     <button type="button" onClick= "window.open('https://github.com/nbnsireesha/Hangman-Game')" class="btn btn-success-outline" data-toggle="modal" data-target="https://github.com/nbnsireesha/week-4-game">learn more</button>
                                 </div>
                             </div>

                             <div class="card">
                                 <div class="card-block">
                                     <h4 class="card-title">Trivia Game</h4>
                                     <h6 class="card-subtitle"></h6>
                                 </div>
                                 <img src="../public/images/triva.png" class = "img-Pro" alt="working on a laptop">
                                 <div class="card-block">
                                     <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi debitis fugit molestias dignissimos, id hic officiis quam possimus tenetur minima voluptatibus accusantium, numquam voluptates velit, dicta maiores dolor quo expedita.</p>
                                     <button type="button" onClick= "window.open('https://github.com/nbnsireesha/TriviaGame')" class="btn btn-success-outline" data-toggle="modal" data-target="https://github.com/nbnsireesha/week-4-game">learn more</button>
                                 </div>
                             </div>

                             <div class="card">
                                 <div class="card-block">
                                     <h4 class="card-title">RPG Game</h4>
                                     <h6 class="card-subtitle"></h6>
                                 </div>
                                 <img src="../public/images/rpg.png" class = "img-Pro" alt="fingers typing on a keyboard">
                                 <div class="card-block">
                                     <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi debitis fugit molestias dignissimos, id hic officiis quam possimus tenetur minima voluptatibus accusantium.</p>
                                     <button type="button" onClick= "window.open('https://github.com/nbnsireesha/week-4-game')" class="btn btn-success-outline" data-toggle="modal" data-target="https://github.com/nbnsireesha/week-4-game">learn more</button>
                                 </div>
                             </div>
                         </div><!--card-group -->
                     </div><!--col -->
                </div><!--row -->
                <div class="row">
                    <div class="col-sm-12">

                        <div class="card-group">
                             <div class="card">
                                 <div class="card-block">
                                     <h4 class="card-title">Amazon Like Storefront</h4>
                                     <h6 class="card-subtitle"></h6>
                                 </div>
                                 <img src="../public/images/amazon.jpg" class = "img-Pro" alt="a hangman">
                                 <div class="card-block">
                                     <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                     <button type="button" onClick= "window.open('https://github.com/nbnsireesha/Amazon-like-storefront')" class="btn btn-success-outline" data-toggle="modal">learn more</button>
                                     
                                 </div>
                             </div>

                             <div class="card">
                                 <div class="card-block">
                                     <h4 class="card-title">Friend Finder</h4>
                                     <h6 class="card-subtitle"></h6>
                                 </div>
                                 <img src="../public/images/friends.jpg" class = "img-Pro" alt="working on a laptop">
                                 <div class="card-block">
                                     <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi debitis fugit molestias dignissimos, id hic officiis quam possimus tenetur minima voluptatibus accusantium, numquam voluptates velit, dicta maiores dolor quo expedita.</p>
                                     <button type="button" onClick= "window.open('https://github.com/nbnsireesha/FriendFinder-1')" class="btn btn-success-outline" data-toggle="modal">learn more</button>
                                 </div>
                             </div>

                             <div class="card">
                                 <!-- <div class="card-block">
                                     <h4 class="card-title">RPG Game</h4>
                                     <h6 class="card-subtitle">Support card subtitle</h6>
                                 </div>
                                 <img src="img/rpg.png" class = "img-Pro" alt="fingers typing on a keyboard">
                                 <div class="card-block">
                                     <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi debitis fugit molestias dignissimos, id hic officiis quam possimus tenetur minima voluptatibus accusantium.</p>
                                     <button type="button" class="btn btn-success-outline" data-toggle="modal" data-target="#myModal">learn more</button>
                                 </div> -->
                             </div>
                         </div><!--card-group -->
                        

                    </div><!--col-->
                </div><!--row-->

             </div><!--container -->
         </div><!--section-container -->
    </section>
    
    
    <footer id="footer-main">
        <div class="container">
        </div>
    </footer>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>












